html,
body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.p_content {
    text-indent:2em;
}
.row{
    margin-top: 5px;
    margin-bottom: 5px;
}
#fiction_detail{
    font-size: 16px;
}
.close_light_style{
    background:black;
    color:white
}
.wrap > .container{padding-bottom: 0px;}
.wrap{padding: 0px;}
    /**分类列表**/
#category_list li{border: 0px;padding: 5px;}
#category_list li p{
    border: 1px solid #ddd;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 10px 15px;
    -o-text-overflow: ellipsis;/*兼容opera*/
    text-overflow: ellipsis;/*这就是省略号喽*/
    overflow: hidden;/*设置超过的隐藏*/
    white-space: nowrap;/*设置不折行*/
}
#category_list li .category_list_author{font-size: 12px;color: #ccc;margin-left: 5px;}

#search_form .input-group-addon{padding: 0px;}
#search_form .btn-default{border: 0px;}
.float-right{float: right;}
#w0{background-color: #cc6600}
#w1 li a{color: white;font-weight: 900}
#w1 li:hover a{color: white;font-weight: 900}
#w0-collapse {border: 0px;}
#w0 {border: 0px;}
#w0 .navbar-header{border: 0px;}
#w0 .navbar-header a{color:white;font-weight: 900;}
#w0 .navbar-header:hover a{color:white;font-weight: 900;}
#site_body .jumbotron p {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 14px;
    margin-top: 5px;
}

#site_body .jumbotron {margin-bottom: 15px;padding: 5px 5px 15px 5px;min-height: 194px;}
#site_body .jumbotron h3{margin: 5px; -o-text-overflow: ellipsis;  text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;}

#w0 .navbar-header .navbar-toggle{background-color: #cc6600;border: 1px solid white;}